body {
	font-family: "Georgia";
	color: #FFF;
	background: #ff7b14;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #212121, #53585F);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #212121, #53585F);
}

img.curved-shadow {
  border-radius: 15px;
  box-shadow: 2.2px 2.2px 2.2px 2.2px #222;
}

.big-title {
	font-size: 3em;
}

.big-subtitle {
	font-size: 20em;
}

.cut-off-white-corners {
	border-radius: 20px;
}

.phone-animation {
	width: 80%;
}

a {
	color: hotpink;
}