h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia';
}

body {
  font-family: "Georgia";
  color: #FFF;
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EB0631, #333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EB0631,  #333);
}

header.masthead {
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000, #333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000, #333);
}

header.host {
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EB0631, #333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EB0631,  #333);
}

header.studio {
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #358DF9, #333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #358DF9,  #333);
}


img.feature {
	width: 100%;
}

.bg-download {
	background: #FFFFFF;
}

img.features {
	width: 100%;
}

img.feature-shot {
  width: 100%;
}

img.main-shot {
  width: 80%;
}

a {
	color: #EB0631;
}

a:hover, a:focus {
  color: #EB0631;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #EB0631;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#EB0631), to(#EB0631));
  background: linear-gradient(to left, #EB0631, #EB0631);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-buffer {
  padding-top: 60px;
}

.bottom-buffer {
  padding-bottom: 60px;
}

.top-baby-buffer {
  padding-top: 20px;
}

.feature-title {
  font-size: 3em;
}

.feature-body {
  font-size: 1.2em;
}

.feature-icon {
  font-size: 4em;
  color: #EB0631;
}

.step-number {
  font-size: 4em;
  font-weight: bold;
  color: #EB0631;
}

.qa-title {
  font-size: 2.5em;
}

.main-action-button {
  font-size: 1.15em;
}

.main-action-button-white-bg {
  font-size: 1.15em;
  color: #440000;
  border-color: #440000
}

.big-title-padding {
  padding-top: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}