header.masthead {
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000, #333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000, #333);
}

img.feature {
	width: 70%;
}

.bg-download {
	background: #FFFFFF;
}

img.features {
	width: 80%;
}

a {
	color: #EB0631;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#EB0631), to(#EB0631));
  background: linear-gradient(to left, #EB0631, #EB0631);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}